{
    "presets": [
        "react",
        [
            "env"
            //{
            //    "modules": false
            //}
        ]
    ],
//    "plugins": ["transform-object-rest-spread"],
    "plugins": ["react-hot-loader/babel", "transform-object-rest-spread"]
//    "env": {
//        "development": {
//            "plugins": [
//                "react-hot-loader/babel"
//            ]
//        }
//    }
}
